{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<div class="about__text">
<h1>{{ title }}</h1>
 <p class="one">Добро пожаловать на сайт о рыбалке!</p>


    Наш сайт является учебным проектом, созданным в рамках нашего обучения программированию и разработке веб-приложений.

Целью этого проекта является предоставление информации о различных видах ловли, а также обмен опытом и знаниями среди рыболовов. Мы стараемся создать ресурс, который поможет рыбакам улучшить свои навыки, расширить свои знания и наслаждаться этим замечательным хобби.

На нашем сайте вы найдете статьи о различных видов рыбы, методах и техниках ловли, использовании снастей и советы по выбору правильного снаряжения. Мы также планируем добавлять новые статьи и руководства регулярно, чтобы предоставить вам актуальную информацию и интересные материалы.

Обратите внимание, что мы НЕ являемся профессиональными экспертами в этой области. Мы сами являемся учащимися и находимся на этапе обучения. Мы стремимся поделиться тем, что мы уже знаем и изучаем, и вместе с вами продолжать углублять наши знания и продолжим обновлять функционал данного сайта в дальнейшем.

Если у вас есть вопросы, предложения или отзывы, пожалуйста, свяжитесь с нами через <p class="teleg">Telegram.</p>

Спасибо за вашу поддержку и интерес к нашему проекту!

    <div class="tg">
        <div class="back"><p class="tg__back">Backend Developer</p> <a href="https://t.me/Tretyakov_Max"><img src="../../static/blog/images/footer-icon2.png" alt=""></a></div>
        <div class="front"><p class="tg__front">Frontend Developer</p> <a href="https://t.me/CarpeDiem027"><img src="../../static/blog/images/footer-icon2.png" alt=""></a></div>
    </div>
</div>
{% endblock %}